.headCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .88rem;
    padding: .40rem .23rem 0;
    background: #f26b11;
  }
  .headCon .return img {
    width: auto;
    height: .29rem;
  }
  .headCon h3 {
    font: 0.35rem/0.88rem "微软雅黑";
    color: #fff;
  }
  .headCon .menu  {
    color: #fff;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .wrap .form{
    margin: .5rem;
    margin-top: 1.5rem;
  }
  .wrap .form div{
    display: flex;
    padding: .5rem 0;
    border-bottom: 1px solid #ccc;
  }
  .wrap .form div p{
    font-size: .3rem;
  }
  .wrap .form .last{
    padding-right: .2rem;
    justify-content: flex-end;
    border: none;
  }
  .wrap .form .last a{
    text-align: right;
    color: #333;
  }
  .wrap .form button{
    border: none;
    width: 100%;
    height: 1rem;
    font-size: .36rem;
    color: #fff;
    background: #FF9900;
    border-radius: .1rem;
  }